# Kafka
KAFKA_TOPIC=station_status
KAFKA_BOOTSTRAP_SERVERS=localhost:9092

# Supabase / PostgreSQL
SUPABASE_DB_URL=postgresql://user:password@host:5432/database

# dbt PostgreSQL profile
DBT_USER=postgres
DBT_PASSWORD=postgres
DBT_HOST=localhost
DBT_PORT=5432
DBT_DBNAME=citibike
DBT_SCHEMA=public

# AWS / S3
AWS_ACCESS_KEY_ID=your-aws-access-key-id
AWS_SECRET_ACCESS_KEY=your-aws-secret-access-key
AWS_DEFAULT_REGION=us-east-1
S3_BUCKET=your-s3-bucket-name
